
@font-face {
    font-family: 'webfont';
    font-display: swap;
    src:url('../static/font/webfont.woff') format('woff')
}

body {
    font-family:'webfont' !important;
    font-size: 30px;
    font-style: normal;
    background-color: thistle;
    height: 400px;
    .box {
        display: flex;
        background-color: red;
        width: 100px;
        height: 100px;
        background-image: url('../static/image/7.jpg');
    }
}