/* 移动端适配方案3 */
@media  screen and  (max-width:320px){
   html {
        font-size: 42.667px;
        /* 1rem =100px 1rem = 75px
           100vw /7.5 = 13.3333333vw
        */
        font-size: 13.333333vw;
   }
}

@media  screen and  (max-width:321px) and (max-width:360px){
   html {
        font-size: 48px;
        font-size: 13.33333vw;
   }
}